@use '../../theme' as theme;

.card {
    max-width: 300px;
    &:hover {
        background-color: theme.$primary-hover;
    }
}

.image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .title {
    text-align: center;
    margin-bottom: 0.5rem;
  }